$viking: #58e1c1;
$boulder: #777;
$azure-radiance: #009ffd;
$purple-mountains-majesty: #927bc1;
$coral: #FD7856;
$french-lilac: #deb2ee;
$anakiwa: #7ee6fd;
$vista-blue: #88d9a0;
$fountain-blue: #4da2bb;
$sea-pink:  #ec9fa3;
$vivid-tangerine: #fd9f85;
$sunglo: #e4757a;
$emerald: #63cc82;
$malibu: #51ddfc;
$riptide: #80e8d1;
$break-tablet: 768px;